@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

// Media queries
$small: 360px;
$phone: 620px; //max phone width or tablet portrait
$tablet: 1050px; //tablet landscape max
$laptop: 1200px; //laptops max

@mixin small {
  @media (max-width: #{$small}) {
    @content;
  }
}

@mixin phone {
  @media (max-width: #{$phone}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: #{$laptop}) {
    @content;
  }
}

@mixin extra {
  @media (min-width: #{$laptop}) {
    @content;
  }
}

* {
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: 'Nunito', sans-serif;
}

.logo-container {
  position: absolute;
  top: 7px;
  left: 7px;
  z-index: 10;
  padding: 20px 28px;

  @include phone {
    padding: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #logo {
    font-family: 'Satisfy', cursive;
    font-size: 1.3em;
    letter-spacing: 1.1px;
    color: white;
    text-decoration: none;

    @include phone {
      padding: 20px 28px;
    }

    span {
      position: absolute;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: #ddd;
    }

    span:nth-child(1) {
      bottom: 8px;
      left: 40%;
    }
    span:nth-child(2) {
      bottom: 12px;
      left: 50%;
    }
    span:nth-child(3) {
      bottom: 8px;
      left: 60%;
    }
    span:nth-child(4) {
      width: 30%;
      height: 4px;
      top: 10px;
      border-radius: 2px;
      left: 35%;

      @include phone {
        width: 14%;
        left: 43%;
      }
    }
  }
}

#navigation {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 12px 24px;
  overflow: hidden;

  @include phone {
    flex-direction: column;
    align-items: flex-end;
    padding: 0;
    top: auto;
    bottom: 0;
  }

  @include phone {
    .toggle {
      position: relative;
      margin-left: 16px;
      cursor: pointer;

      div {
        width: 25px;
        height: 4px;
        border-radius: 2px;
        background-color: white;
        margin-top: 2px;
        margin-bottom: 2px;
        transition: all 0.3s ease;
        transform-origin: left;
      }

      div:nth-child(1) {
        transform: rotate(0) translateY(0);
      }
      div:nth-child(2) {
        transform: translateX(0);
      }
      div:nth-child(3) {
        transform: rotate(0) translateY(0);
      }
      @include phone {
        padding: 24px;
      }
    }

    .close {
      div:nth-child(1) {
        transform: rotate(405deg) translateY(-4px);
      }
      div:nth-child(2) {
        background-color: transparent;
        transform: translateX(-40px);
      }
      div:nth-child(3) {
        transform: rotate(-405deg) translateY(4px);
      }
    }
  }

  .links {
    transform: translateX(0);
    opacity: 1;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    display: flex;

    @include phone {
      flex-direction: column;
      background-color: rgba(209, 116, 56, 1);
      padding: 7px 12px;
    }

    .nav-link {
      text-decoration: none;
      color: white;
      padding: 12px 18px;
      margin: 0 5px;
      font-size: 1.3em;
      letter-spacing: 1.2px;
      box-sizing: border-box;
      transition: all 0.4s ease;
      position: relative;

      @include phone {
        font-size: 1.1em;
        margin: 5px;
      }

      span {
        position: absolute;
        bottom: 0;
        width: 0;
        height: 2px;
        background-color: transparent;
        transition: all 0.5s ease;
      }

      span:first-child {
        left: 0;
      }
      span:last-child {
        right: 0;
      }
    }
    .nav-link:hover {
      span {
        background-color: white;
        width: 50%;
      }
    }

    .active {
      span {
        background-color: white;
        width: 50%;
        font-weight: bold;
      }
    }
  }

  .links-hidden {
    @include phone {
      transform: translateX(100px);
      opacity: 0;

      a {
        pointer-events: none;
      }
    }
  }
}

#hero {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-image: url('../images/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  .backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .cta {
    text-decoration: none;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 16px 36px;
    margin-top: -45vh;
    z-index: 15;
    color: #eee;
    position: relative;
    text-shadow: 4px 4px 10px rgba(152, 72, 21, 0.4);
    box-shadow: 4px 4px 10px rgba(152, 72, 21, 0);
    transition: all 0.6s ease;

    span {
      position: absolute;
      background-color: transparent;
      transition: all 0.5s ease;
    }

    span:nth-child(1) {
      left: 0;
      bottom: 0;
      width: 0;
      height: 3px;
      transition-delay: 0.3s;
    }
    span:nth-child(2) {
      top: 0;
      right: 0;
      width: 0;
      height: 3px;
      transition-delay: 0.3s;
    }
    span:nth-child(3) {
      right: 0;
      bottom: 0;
      height: 15px;
      width: 3px;
      transition-delay: 0s;
    }
    span:nth-child(4) {
      left: 0;
      top: 0;
      height: 0;
      width: 3px;
      transition-delay: 0s;
    }

    @include phone {
      span {
        background-color: white;
      }
      span:nth-child(1) {
        box-shadow: 4px 4px 10px rgba(152, 72, 21, 0.3);
        width: 30%;
      }
      span:nth-child(2) {
        box-shadow: 4px 4px 10px rgba(152, 72, 21, 0.3);
        width: 30%;
      }
      span:nth-child(3) {
        box-shadow: 4px 4px 10px rgba(152, 72, 21, 0.3);
        height: 70%;
      }
      span:nth-child(4) {
        box-shadow: 4px 4px 10px rgba(152, 72, 21, 0.3);
        height: 80%;
      }
    }
  }

  .cta:hover {
    text-shadow: 4px 4px 10px rgba(152, 72, 21, 0);
    box-shadow: 4px 4px 10px rgba(152, 72, 21, 0.3);
    transition-delay: 0.9s;
    span {
      background-color: white;
    }
    span:nth-child(1) {
      width: 100%;
      transition-delay: 0.3s;
    }
    span:nth-child(2) {
      width: 100%;
      transition-delay: 0.3s;
    }
    span:nth-child(3) {
      height: 100%;
      transition-delay: 0s;
    }
    span:nth-child(4) {
      height: 100%;
      transition-delay: 0s;
    }
  }
}

.section {
  background-color: salmon;
  min-height: 100vh;
}
